<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title.html_safe %>
</p>

<p>
  <strong>Author:</strong>
  <%= link_to @post.user.username, user_posts_path(name: @post.user.username) %>
</p>

<div>
	<%=image_tag @post.user.avatar.url, class: "show-pic" %> 
</div>
<p>
  <strong>Blog entry:</strong>
  <%= @post.blog_entry.html_safe %>
</p>

<%if @post.user_id ==  current_user.id%>
		<%= link_to 'Edit', edit_post_path(@post) %> 
<% end%>








<div id="comments">
	<%= render 'comments/form', comment: @comment %>

	<h4>What others have said:</h4>
	<% @post.comments.each do |comment| %>
		<div class="well">
			<%=image_tag comment.user.avatar.url(:thumb)%> 
			<%= link_to comment.user.username, user_posts_path(name: comment.user.username) %> said ... <br/>
			<%= comment.comment_entry %>
		</div>
	<% end %>
</div>



<%= link_to 'Back', posts_path %>
