<center> <h1>Words of <%= @user.username %></h1></center>
<% @user.posts.each do |post| %>
      <div class="panel panel-success">
        <div class="panel-heading" >
          <h3 class="panel-title"><%= post.title.html_safe %></h3>
          <%=image_tag post.user.avatar.url(:thumb)%> 
          <%= post.user.username %>
        </div>
        <div class="panel-body">
          <%= post.blog_entry %>
        </div>
        <div class="panel-footer">
          <%= link_to 'Show', post, class: "btn btn-info" %>
          <% if post.user_id == current_user.id%>
            <%= link_to 'Edit', edit_post_path(post),  class: "btn btn-warning" %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <%end %>
        </div>
      </div>
        
   <%end %>     

<br>

<div class="pull-right">
  <%= paginate @posts %>
</div>